.history-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px 10px;
  overflow-y: scroll;
  max-height: 300px;
}

/* Change background color of all date boxes */
.fc-daygrid-day {
  background-color: #f5f5f5; /* Light gray */
  border: 1px solid #ddd;
}

/* Highlight today's date */
.fc-day-today {
  background-color: rgba(180, 204, 24, 0.555) !important; /* Yellow */
}

/* Add rounded corners to the date boxes */
.fc-daygrid-day-frame {
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .history-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 380px) {
  .history-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
